body{
	font-size:small;
	font-family:arial, sans-serif;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.logo{
	margin-top:89px;
	height:233px;
}
#logo{
	display: block;
	padding-top:109px;
}
center{
	display: block;
	text-align: -webkit-center;
}
.search{
	position: absolute;
	top: 311px;
	width: 100%;
}

.searchfield{
	margin-left: auto;
	margin-right: auto;
	max-width: none;
	width:833px;
}
.searchbox{
	background: #fff;
	-webkit-box-sizing:border-box;
	max-width: 484px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	height:44px;
	vertical-align: top;
}
#box{
	width:100%;
	height:auto;
	padding: 0;
	margin: 0;
	border:none;
	outline:none;
}
.box{
	font:16px arial, sans-serif;
	line-height: 34px;
	height: 34px;
}
.boxCont{
	height:100%;
	padding-left: 10px;
	padding:6px 10px 0;
	overflow: hidden;
	-webkit-box-sizing:border-box;

}
.navbar-cont{
	position:absolute;
	top:16px;
	right:0;
	width:100%;
}
.navbar{
	float:right;
	padding-left: 30px;
	padding-right:30px;
	align-items: center;
	display:flex;
}
.links{
	padding-right:15px;
}
.nav-item{
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;
}
.nav-item a{
	line-height: 24px;
	color:#000;
	opacity: .75;
	display: inline-block;
}
.nav-item a:hover{
	text-decoration: underline;
}
#apps{
	display:inline-block;
	background-image:url("media/icons.png");
	background-size:528px 68px;
	background-position:-132px -38px;
	opacity: .55;
	height:30px;
	width: 30px;
	box-sizing: border-box;
	vertical-align: middle;
}
.icons{
	position:relative;
	display: flex;
}
.signin{
	display: inline-block;
	padding-left: 15px;
	vertical-align: middle;
}
#signin{
	color:#fff;
	border:1px solid #4285f4;
	border-radius: 2px;
	font-weight: bold;
	outline:none;
	background: #4285f4;
	padding: 0 12px;
	display: inline-block;
	line-height: 28px;
}
.footer{
	bottom: 0;
	font-size: 10pt;
	position: absolute;
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
}
#left{
	margin-left:3px;
}
.footItem{
	height: auto;
	display: inline-block;
	color: #666;
	padding-left: 27px;
	margin: 0;
}
#right{
	margin-right: 30px;
	float:right;
}
.buttons{
	display: block;
	padding-top: 18px;
}
.buttons input{
	height:36px;
	line-height: 27px;
	background: #f2f2f2;
	border:1px solid #f2f2f2;
	border-rdaius: 2px;
	color:#757575;
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	margin: 11px 4px;
	padding:0 16px;
	text-align: center;
}
.buttons input:hover{
	color: #222;
	border: 1px solid #c6c6c6;
	background:#f8f8f8;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}